.catering {
	@extend .subpage;
	background-color: white;
	padding-bottom: 1px;
	.headline {
		padding-top: 30px;
		padding-bottom: 10px;
		@media screen and (min-width:$screen-sm){
			padding-top: 0;
		}
	}
}
